<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>

<body>
    <div class="main-contet">
        {{> header }}
        <p>This site was created by Kirtee</p>
        <img class="portrait" src="/img/powerpuff-girls3.jpg" alt="logo" />
    </div>
    {{>footer }}
</body>

</html>